@using Microsoft.AspNetCore.Identity
@using DCBStore.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <h6 class="dropdown-header" id="current-username">Xin chào, @UserManager.GetUserName(User)</h6>
    
    @if (User.IsInRole("Admin"))
    {
        <a class="dropdown-item fw-bold text-danger" asp-area="Admin" asp-controller="Home" asp-action="Index">
            <i class="fas fa-user-shield fa-fw me-2"></i>Trang Quản trị
        </a>
    }

    <a class="dropdown-item" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
        <i class="fas fa-user-cog fa-fw me-2"></i>Quản lý tài khoản
    </a>
    
    <a class="dropdown-item" asp-area="" asp-controller="Wishlist" asp-action="Index">
        <i class="fas fa-heart fa-fw me-2"></i>Danh sách yêu thích
    </a>

    <div class="dropdown-divider"></div>
    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button id="logout" type="submit" class="dropdown-item text-danger">
            <i class="fas fa-sign-out-alt fa-fw me-2"></i>Đăng xuất
        </button>
    </form>
}
else
{
    <a class="dropdown-item" id="register" asp-area="Identity" asp-page="/Account/Register">
        <i class="fas fa-user-plus fa-fw me-2"></i>Đăng ký
    </a>
    <a class="dropdown-item" id="login" asp-area="Identity" asp-page="/Account/Login">
        <i class="fas fa-sign-in-alt fa-fw me-2"></i>Đăng nhập
    </a>
}